[submodule "main/littlefs"]
	path = src/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "mklittlefs"]
	path = mklittlefs
	url = https://github.com/BrianPugh/mklittlefs.git
