littlefs-python>=0.7.1; python_version >= "3.8"
# littlefs-python has to be pinned to a specific version due to minimal Python version in IDF v5.0 and v5.1
littlefs-python==0.10.0; python_version < "3.8"
